<div class="container">
    <h1>
        Please login to view your e-ticket
    </h1>
    <form #loginForm="ngForm" class="form-container">
        <div class="form-item">
            <label for="ticket_no">
                Ticket No.
            </label>
            <input type="text"
                name="ticket_no"
                [(ngModel)]="userModel.ticket_no"
                #ticketNo
                disabled>
        </div>
        <div class="form-item">
            <label for="phone">
                Phone No.
            </label>
            <input type="tel"
                name="phone"
                placeholder="Pattern like: +92-123-4567890"
                [(ngModel)]="userModel.phone"
                #phone
                required
                pattern="[+][0-9]{2}-[0-9]{3}-[0-9]{7}">
            <!-- use this for form errors, insert classes using angular                 -->
            <!-- <div class="error-container">
                <div class="error">
                    <span>
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    Error message
                </div>
            </div> -->
        </div>
        <div class="form-item">
            <label for="reg_no">
                Car Registration No.
            </label>
            <input type="text"
                name="reg_no"
                placeholder="Enter your car's registration number"
                [(ngModel)]="userModel.reg_no"
                #regNo
                required>
        </div>
        <button class="form-btn btn-blue"
            (click)="login(loginForm.form)">
            Login and view ticket
        </button>
    </form>
</div>
