$border-gray: #ccc;

.container {
    padding: 0vw 5vw;
    margin-top: 7vh;
}

h2 {
    margin: 0px 0px;
    padding: 2px 2px;
    text-transform: uppercase;
}

p {
    margin: 0px 0px;
    padding: 2px 2px;
}